/*global*/
html {
  background-color: #5b74a7; }

body, a, button {
  color: #eaeaea;
  font-family: "HelveticaNeue-ultraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

a {
  text-decoration: none; }

p a {
  -moz-transition: background 0.3s, -moz-transform 0.3s;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  -o-transition: background 0.3s, -o-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  border-bottom: 1px solid; }
  p a:hover, p a:focus {
    background: rgba(0, 0, 0, 0.4); }

h1, h2, h3 {
  font-weight: 100;
  margin: 0; }

.externalLink {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2); }
  .externalLink a {
    display: block;
    padding: 10px;
    border-bottom: none; }

/*in about me splash*/
.contactList {
  list-style-type: none;
  padding: 0;
  font-size: .8em; }
  .contactList li {
    display: inline;
    margin-right: 5px; }
    .contactList li a:hover, .contactList li a:focus {
      border-bottom: 1px solid; }

#error {
  font-size: 2em;
  text-shadow: 1px 1px 1px #3f5176; }

nav {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .9;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  width: 100%; }
  nav:hover, nav:focus {
    opacity: 1; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li#NL {
      float: left; }
      nav ul li#NL i {
        width: 19px;
        text-align: center; }
    nav ul li#navList {
      display: block;
      margin-left: 40px;
      margin-right: 37px; }
      nav ul li#navList ul {
        padding: 0;
        opacity: 0.5;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -o-transition: opacity 0.3s, -o-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s; }
        nav ul li#navList ul li {
          background: #828282;
          margin: 1px 0; }
          nav ul li#navList ul li a {
            display: block;
            padding: 0 30px;
            -moz-transition: padding 0.3s, -moz-transform 0.3s;
            -webkit-transition: padding 0.3s, -webkit-transform 0.3s;
            -o-transition: padding 0.3s, -o-transform 0.3s;
            transition: padding 0.3s, transform 0.3s;
            font-size: 0; }
          nav ul li#navList ul li:hover, nav ul li#navList ul li:focus {
            background: #b2b2b2; }
        nav ul li#navList ul.active {
          opacity: 1; }
          nav ul li#navList ul.active li a {
            padding: 10px 30px;
            font-size: inherit; }
    nav ul li#contact {
      position: absolute;
      top: 0;
      right: 0; }
    nav ul li a {
      -moz-transition: background 0.3s, -moz-transform 0.3s;
      -webkit-transition: background 0.3s, -webkit-transform 0.3s;
      -o-transition: background 0.3s, -o-transform 0.3s;
      transition: background 0.3s, transform 0.3s;
      display: block;
      padding: 10px;
      background: #828282; }
      nav ul li a:hover, nav ul li a:focus {
        background: #b2b2b2; }
    nav ul li span {
      /*hide at small screen*/
      display: none; }

/*sections*/
/*all sections*/
.screen {
  z-index: 200;
  position: relative; }
  .screen .content {
    padding: 70px 10px 20px;
    /*		max-width: 400px;
    		height: 300px;
    		margin: auto;
    		position: absolute;
    		top: 0;
    		left: 0;
    		bottom: 0;
    		right: 0;*/ }
  .screen#aboutme {
    z-index: 300;
    background: #5b74a7; }
    .screen#aboutme .content {
      padding-top: 20px; }
      .screen#aboutme .content h1 {
        position: relative; }
        .screen#aboutme .content h1 small {
          font-size: 45%;
          position: absolute;
          top: -10px;
          left: 80px; }
  .screen#peanuts {
    background: #6b824d; }
  .screen#results {
    background: #667b86; }
  .screen#nicklosh {
    background: #282828; }
  .screen#ameb {
    background: #655a78; }
  .screen#syllabus {
    background: #8c5463; }
  .screen#builder {
    background: #b34d4d; }
  .screen#contentPage .content {
    padding-top: 20px;
    margin-bottom: 35px; }
    .screen#contentPage .content label {
      display: block;
      margin-bottom: 5px; }
    .screen#contentPage .content input {
      line-height: 1.5em; }
    .screen#contentPage .content textarea {
      line-height: 1.5em;
      /*padding: 5px;*/ }
      .screen#contentPage .content textarea#comment {
        width: 100%;
        min-height: 80px;
        resize: vertical; }
    .screen#contentPage .content button {
      border: none;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0.2);
      color: #eaeaea;
      float: right;
      -moz-transition: background 0.3s, -moz-transform 0.3s;
      -webkit-transition: background 0.3s, -webkit-transform 0.3s;
      -o-transition: background 0.3s, -o-transform 0.3s;
      transition: background 0.3s, transform 0.3s; }
      .screen#contentPage .content button:hover, .screen#contentPage .content button:focus {
        background-color: rgba(0, 0, 0, 0.4); }

footer {
  background: #282828;
  padding: 10px; }
  footer p {
    text-align: center; }
    footer p a:hover {
      background: #828282; }

#examples {
  background: #7c90b9;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  -moz-transition: background 0.3s, -moz-transform 0.3s;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  -o-transition: background 0.3s, -o-transform 0.3s;
  transition: background 0.3s, transform 0.3s; }
  #examples a {
    display: block;
    padding: 10px 0; }
  #examples h2 {
    font-size: 1.2em; }
  #examples i {
    font-size: 2em;
    vertical-align: middle;
    line-height: 0;
    margin-top: -5px; }
  #examples:hover, #examples:focus {
    background: #9daccb; }

/*images*/
.imageSwitcher {
  position: relative; }

.image {
  /*position: absolute;*/
  max-width: 275px;
  display: none; }
  .image.active {
    display: block;
    opacity: 0;
    margin-left: 200px; }
  .image span {
    display: inline-block;
    width: 100%;
    background-size: 100%; }
    .image span span {
      display: inline-block;
      height: 0;
      padding-top: 72.7%; }

#peanutsImg {
  background-image: url("/img/screenshots-sml/peanuts-sml.png"); }

#resultsImg1 {
  background-image: url("/img/screenshots-sml/results-hub--sml.png"); }

#resultsImg2 {
  background-image: url("/img/screenshots-sml/results-hub-detail-sml.png"); }

#resultsImg3 {
  background-image: url("/img/screenshots-sml/results-student-detail-sml.png"); }

#nickloshImg1 {
  background-image: url("/img/screenshots-sml/nicklosh-home-sml.png"); }

#nickloshImg2 {
  background-image: url("/img/screenshots-sml/nicklosh-music-sml.png"); }

#nickloshImg3 {
  background-image: url("/img/screenshots-sml/nicklosh-videos-sml.png"); }

#amebImg1 {
  background-image: url("/img/screenshots-sml/ameb-candiates-sml.png"); }

#amebImg2 {
  background-image: url("/img/screenshots-sml/ameb-detail-sml.png"); }

#amebImg3 {
  background-image: url("/img/screenshots-sml/ameb-ipad-sml.png"); }

#syllabusImg1 {
  background-image: url("/img/screenshots-sml/syllabus-home-sml.png"); }

#syllabusImg2 {
  background-image: url("/img/screenshots-sml/syllabus-math-detail-sml.png"); }

#syllabusImg3 {
  background-image: url("/img/screenshots-sml/syllabus-filter-sml.png"); }

#builderImg1 {
  background-image: url("/img/screenshots-sml/pb-home-sml.png"); }

#builderImg2 {
  background-image: url("/img/screenshots-sml/pb-unit-sml.png"); }

#builderImg3 {
  background-image: url("/img/screenshots-sml/pb-userhelp-sml.png"); }

.controls {
  max-width: 275px; }
  .controls i {
    opacity: .3;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, -o-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s; }
    .controls i:hover, .controls i:focus {
      opacity: 1;
      cursor: pointer; }
  .controls .prev {
    float: left;
    font-size: 2em; }
  .controls .next {
    float: right;
    font-size: 2em; }
  .controls .switchDisplay {
    margin-left: 43%;
    padding-top: 12px;
    font-size: .8em; }
