$white:#eaeaea;
$lightgray:#b2b2b2;
$midgray:#828282;
$darkgray:#404040;
$black:#282828;

$whiteScreen: rgba(234,234,234, .3);
$shadowLight:rgba(0,0,0, .2);
$shadowDark:rgba(0,0,0, .4);

$blue:#5b74a7;
$blueshadow:darken($blue, 15%);
$bluelight:lighten($blue, 10%);
$bluelighter:lighten($blue, 20%);
$bluewhite:lighten($blue, 30%);

$green:#6b824d;
$greenshadow:darken($green, 15%);
$greenlight:lighten($green, 10%);
$greenlighter:lighten($green, 20%);
$greenwhite:lighten($green, 30%);

$aqua:#667b86;
$aquashadow:darken($aqua, 15%);
$aqualight:lighten($aqua, 10%);
$aqualighter:lighten($aqua, 20%);
$aquawhite:lighten($aqua, 30%);

