@mixin bodytext{
	color: $white;
	font-family: "HelveticaNeue-ultraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
}
@mixin textshadow($textcolor){
	text-shadow: 1px 1px 1px $textcolor;
}

@mixin transition($value){
	-moz-transition:$value .3s, -moz-transform .3s;
    -webkit-transition:$value .3s, -webkit-transform .3s;
    -o-transition:$value .3s, -o-transform .3s;
    transition:$value .3s, transform .3s;
}

