@import "_colours.scss";
@import "_mixin.scss";

/*global*/
html{
	background-color: $blue;
}

body, a, button {
   @include bodytext;
}

a{
	text-decoration: none;

}
p {
	a{
		@include transition(background);	
		border-bottom: 1px solid;
		&:hover, &:focus{
			background: $shadowDark;
		}
	}
}

h1, h2, h3{font-weight: 100; margin: 0;}

.externalLink{
	display: inline-block;
	background: $shadowLight;
	a{
		display: block;
		padding: 10px;
		border-bottom: none;
	}
}

/*in about me splash*/
.contactList{
	list-style-type: none;
	padding: 0;
	font-size: .8em;
	li{
		display: inline;
		margin-right: 5px;
		a{

			&:hover, &:focus{
				border-bottom:1px solid;
			}
		}	
	}
}

#error{
	font-size: 2em;
	@include textshadow($blueshadow);

}

nav{
	z-index: 300;
	position: fixed;
	top: 0;
	left: 0;
	opacity: .9;
	@include transition(opacity);
	width: 100%;
	&:hover, &:focus{
		opacity:1;
	}
	ul{
		padding:0 ;
		margin:0;
		li{
			&#NL{
				float: left;
				i{
					width: 19px;
					text-align: center;
				}
				
			}
			&#navList{
				display: block;
				margin-left: 40px;
				margin-right: 37px;
				ul {
					padding: 0;
					opacity: 0.5;
					@include transition(opacity);
					li{
						background: $midgray;
						margin: 1px 0;
						a{
							display: block;
							padding: 0 30px;
							@include transition(padding);
							font-size: 0;
						}
						&:hover, &:focus{
							background: $lightgray;

						}
					}
					&.active{
						opacity: 1;
						li{
							a{
								padding: 10px 30px;
								font-size: inherit;
							}
						}
					}
				}
			}
			&#contact{
				position: absolute;
				top: 0;
				right: 0
			}
			a{
				@include transition(background);
				display: block;
				padding: 10px;
				background: $midgray;
				&:hover, &:focus{
					background: $lightgray;
				}
			}
			span{ /*hide at small screen*/
				display:none;
			}
		}
	}
}

/*sections*/
/*all sections*/
.screen{
	z-index: 200;
	position: relative;
	.content{
		padding: 70px 10px 20px;
/*		max-width: 400px;
		height: 300px;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;*/
	}
	&#aboutme{
		z-index: 300;
		background: $blue;
		.content{
			padding-top: 20px;
			h1{
				position: relative; 
				 small{
					font-size: 45%;
					position: absolute;
					top: -10px;
					left: 80px;
				}
			}

		}
	}
	&#peanuts{
	background: $green;
	}
	&#results{
		background: $aqua;
	}
	&#nicklosh{
		background: $black;
	}
	&#ameb{
	background: $purple;
	}
	&#syllabus{
		background: $maroon;
	}
	&#builder{
		background: $red;
	}
	&#contentPage{
		.content{
			padding-top:20px;
			margin-bottom: 35px;
			label{
				display: block;
				margin-bottom: 5px;
			}
			input{
				line-height: 1.5em;

			}
			textarea{
				line-height: 1.5em;	
				/*padding: 5px;*/
				&#comment{
					width: 100%;
					min-height: 80px;
					resize:vertical;
				}
			}
			button{
				border:none;
				padding: 10px 20px;
				background-color: $shadowLight;
				color: $white;
				float: right;
				@include transition(background);
				&:hover, &:focus{
					background-color: $shadowDark;

				}
			}
		}
	}
}
footer{
	background: $black;
	padding: 10px;

	p{
		text-align: center;
		a:hover{
			background:$midgray;
		}
	}


}

#examples{
	background: $bluelight;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	@include transition(background);
	a{
		display: block;
		padding: 10px 0;
	}
	h2{
		font-size: 1.2em;
	}
	i{
		font-size: 2em;
		vertical-align: middle;
		line-height: 0;
		margin-top: -5px;
	}
	&:hover, &:focus{
		background: $bluelighter;
	}
}

/*images*/
.imageSwitcher{
	position: relative;
}
.image{
	max-width: 275px;
	display: none;
	&.active{
		display: block;
		opacity: 0;
	}
	span{
		display: inline-block;
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		span{
			display: inline-block;
			height: 0;
			padding-top: 72.7%;
		}
	}
}

#peanutsImg{
	background-image: url("/img/screenshots-sml/peanuts-sml.png");
}
#resultsImg1{
	background-image: url("/img/screenshots-sml/results-hub--sml.png");
}
#resultsImg2{
	background-image: url("/img/screenshots-sml/results-hub-detail-sml.png");
}
#resultsImg3{
	background-image: url("/img/screenshots-sml/results-student-detail-sml.png");
}
#nickloshImg1{
	background-image: url("/img/screenshots-sml/nicklosh-home-sml.png");
}
#nickloshImg2{
	background-image: url("/img/screenshots-sml/nicklosh-music-sml.png");
}
#nickloshImg3{
	background-image: url("/img/screenshots-sml/nicklosh-videos-sml.png");
}
#amebImg1{
	background-image: url("/img/screenshots-sml/ameb-candiates-sml.png");
}
#amebImg2{
	background-image: url("/img/screenshots-sml/ameb-detail-sml.png");
}
#amebImg3{
	background-image: url("/img/screenshots-sml/ameb-ipad-sml1.png");
}
#syllabusImg1{
	background-image: url("/img/screenshots-sml/syllabus-home-sml.png");
}
#syllabusImg2{
	background-image: url("/img/screenshots-sml/syllabus-math-detail-sml.png");
}
#syllabusImg3{
	background-image: url("/img/screenshots-sml/syllabus-filter-sml.png");
}
#builderImg1{
	background-image: url("/img/screenshots-sml/pb-home-sml.png");
}
#builderImg2{
	background-image: url("/img/screenshots-sml/pb-unit-sml.png");
}
#builderImg3{
	background-image: url("/img/screenshots-sml/pb-userhelp-sml.png");
}

.controls{
	max-width: 275px;
	i {
		opacity: .3;
		@include transition(opacity);
	}
	.prev , .next {
		font-size: 2em;		
		@include transition(background);
		&:hover{
			background:$shadowLight;
		}

		i{
			padding:0 10px;
			&:hover, &:focus{
				opacity:1;
				cursor: pointer;
			}			
		}
	}
	.prev{
		float: left;
	}
	.next{
		float: right;
	}
	.switchDisplay{
		margin-left: 43%;
		padding-top: 12px;
		font-size: .8em;
	}

}
